/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/log
/*.clj~
/resources/migrations/*.sql~
/src/clj/hashdb/db/*.clj~
/test/clj/hashdb/db/*.clj~
*.clj~
*.clj#
.#*.clj
TAGS
/docs
*.cmd~
/.idea
